h1 {
    text-decoration: underline;    
}
body {
    font-family: andale mono, monospace;
}
#copyright {
    font-size: 75%;
}
img {
    float: left;
    display: inline-block;
    margin: 10px;
}
p {
    overflow: hidden;
}